<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

  <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet"><link rel="stylesheet" href="/css/normalized.css">
  <link rel="stylesheet" href="/css/normalized.css">
  <link rel="stylesheet" href="/css/indexstyle.css">

  <title>100devs Daily Assignments Heatmap</title>
</head>

<body>
  
  <h1>100devs Daily Assignments Heatmap</h1>

  <ul>
    <li>
      <label>
        <a href="/login">
          <div class="icon-box">
            <i class="fa">LOG IN</i>
          </div>
        </a>
      </label>
    </li>
    <li>
      <label>
        <a href="/signup">
          <div class="icon-box">
            <i class="fa">REGISTER</i>
          </div>
        </a>
      </label>
    </li>
    <li>
      <label>
        <a href="#">
          <div class="icon-box">
            <i class="fa">ABOUT</i>
          </div>
        </a>
      </label>
    </li>
    
  </ul>

</body>

</html>