<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalized.css">
  <link rel="stylesheet" href="/css/style2.css">

  <title>100devs Daily Assignments Heatmap</title>
</head>

<body>
  
  <h1>100devs Daily Assignments Heatmap</h1>
  <!-- a is a get request at path(route) '/login' -- passing route to server -->
  <a href="/login"> Login</a>
  <a href="/signup"> Signup</a>

  <ul>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="fa fa-home" aria-hidden="true"></i>
        </div>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="fa fa-plane" aria-hidden="true"></i>
        </div>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="fa fa-snowflake-o" aria-hidden="true"></i>
        </div>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="fa fa-battery-full" aria-hidden="true"></i>
        </div>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="">
        <div class="icon-box">
          <i class="fa fa-code" aria-hidden="true"></i>
        </div>
      </label>
    </li>
  </ul>

</body>

</html>