<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  


    <link rel="stylesheet" href="/css/loginstyle.css">
    <title>100devs Daily Assignments Heatmap</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <!-- the method specifies that this is a post request at '/login' path(route) -->
    <!-- <form action="/login" method="POST">

        <div class="container email-container">
            <input type="email" name="email" placeholder="email" />
        </div>

        <div class="container pw-container">
            <input class="pw-input" name="password" type="password" placeholder="password" />
            <svg class="close" viewBox="0 0 100 100">
                <path id="top-eye-part" d="M10,50 Q50,-10 90,50" fill="none" stroke-width="5"></path>
                <path id="bottom-eye-part" d="M10,50 Q50,110 90,50" fill="none" stroke-width="5"></path>
                <circle cx="50" cy="50" r="10" fill="black"></circle>
            </svg>
        </div>

       <div class="container ">
            <input class="login-btn" type="submit">
       </div>
        
    </form> -->
    
    <!-- the method specifies that this is a post request at '/login' path(route) -->
    <form action="/login" method="POST">
        <div>
            <input type="email" name="email" placeholder="Email">
        </div>
        
        <div class="container pw-container">
            <input class="pw-input1" type="password" name="password" placeholder="Password"> 
            <svg class="close svg1" viewBox="0 0 100 100">
                <path id="top-eye-part" d="M10,50 Q50,-10 90,50" fill="none" stroke-width="5"></path>
                <path id="bottom-eye-part" d="M10,50 Q50,110 90,50" fill="none" stroke-width="5"></path>
                <circle cx="50" cy="50" r="10" fill="black"></circle>
            </svg>
        </div>

        <div class="container ">
            <input class="login-btn" type="submit">
       </div>
        
    </form>

   

    

    <script src="/js/login.js"></script>
</body>
</html>