<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c60be618d4.js" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="/css/normalized.css">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <title>100devs Daily Assignments Heatmap</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <!-- <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit">
    </form> -->

    <div class="signout-container">
        <a class="signout btn login-btn" href="/logout"><i class="fas fa-right-from-bracket"></i></a>
        <!-- <a class="signout login-btn" href="/logout">Sign Out</a> -->
    </div>

    <form action="/signup" method="POST">
        <div>
            <input type="text" name="userName" placeholder="User Name">
        </div>
        <div>
            <input type="email" name="email" placeholder="Email">
        </div>
        
        <div class="container pw-container">
            <input class="pw-input1" type="password" name="password" placeholder="Password"> 
            <svg class="close svg1" viewBox="0 0 100 100">
                <path id="top-eye-part" d="M10,50 Q50,-10 90,50" fill="none" stroke-width="5"></path>
                <path id="bottom-eye-part" d="M10,50 Q50,110 90,50" fill="none" stroke-width="5"></path>
                <circle cx="50" cy="50" r="10" fill="black"></circle>
            </svg>
        </div>
        <div class="container pw-container">
            <input class="pw-input2" type="password" name="confirmPassword" placeholder="Confirm Password"> 
            <svg class="close svg2" viewBox="0 0 100 100">
                <path id="top-eye-part" d="M10,50 Q50,-10 90,50" fill="none" stroke-width="5"></path>
                <path id="bottom-eye-part" d="M10,50 Q50,110 90,50" fill="none" stroke-width="5"></path>
                <circle cx="50" cy="50" r="10" fill="black"></circle>
            </svg>
        </div>

        <div class="container">
            <input class="login-btn btn" type="submit">
       </div>
        
    </form>

   

    

    <script src="/js/login.js"></script>
</body>
</html>