* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* background-color: #12171D;
  color: #CAD0D7; */
  background-color: #EEE;
  color: #3c4043;
  font-family: 'Lato', sans-serif;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  background-image: linear-gradient(to left, #6f6cde, rgb(131, 161, 204));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 3%;
}

/******************************************
/* LAYOUT
/*******************************************/
/* ======= Express Form ========== */
#express-form {
  margin: 1% auto;
  font-size: 1.2rem;
}

/* wrapper */
#wrapper {
  display: flex;
  position: relative;
  min-height: 50vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  #wrapper {
    min-height: 80vh;
    min-width: 90vw;
  }
}

header,
.heatmap-section {
  margin: 1%;
  min-width: 100vw;
}

.input-wrapper,
.heatmap-section,
.dayLabelsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: .125rem; */
  height: 180px;
  justify-content: flex-end;
  justify-content: flex-start;

  align-items: flex-end;
  align-items: flex-start;

  align-content: center;
  margin: 0 auto;
}

.input-wrapper {
  align-items: flex-start;
  height: 20%;
}

@media screen and (max-width: 425px) {
  .heatmap-section {
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.week-divider {
  flex-basis: 100%;
}

.dayLabel {
  height: 20px;
  margin-right: .55rem;
}

.monthLabel {
  max-width: 0px;
  margin-top: 150px;
}

.dayLabel,
.monthLabel {
  font-size: .85rem;
  color: #75A5FC;
}

.dayBox {
  /* background-color: #1E2126; */
  background-color: #fff;
  border-radius: 15%;
  border: 1px solid rgba(128, 128, 128, 0.05);
  width: 20px;
  height: 20px;
  position: relative;
  align-self: start;
}

.dayBox:hover {
  background-color: rgba(106, 108, 109, 0.2);
  transition: all .5s ease-in-out;
  cursor: g;
}

/* Pop up box */
.pop-up-container {
  /* background-color: rgba(13, 93, 244, 0.4); */
  background-color: #ebf5fc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.pop-up-container.show,
.dayBoxBubble.show,
.dayBoxPointer.show {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.pop-up-container.show {
  transition: opacity 0.3s ease;
}

.pop-up {
  background-color: #ebf5fc;
  color: #6f6cde;
  border-radius: 10px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem 3rem 3.5rem 3rem;
  width: 50vw;
  max-width: 100%;
  text-align: center;
}

/* Bubble */
.dayBoxBubble {
  background-color: #75A5FC;
  color: #fff;
  /* color: #4285f4;  */
  position: absolute;
  top: -2rem;
  left: -3rem;
  opacity: 0;
  pointer-events: none;
  /* height: 1.8rem; */
  width: 6rem;
  height: fit-content;
  padding: .35rem;
  border-radius: 5px;
  z-index: 3;
  text-align: center;
  font-size: .95rem;
}

.block {
  margin: 1rem auto;
  width: fit-content;
}

.popup-input {
  text-align: left;
}



/* ADDITIONAL STYLES */

h1 {
  text-align: center;
  margin: 0;
  padding: .25rem;
  color: #75A5FC;
}

h2 {
  text-align: center;
  margin: 0 0 1rem 0;
  padding: .25rem;
  font-size: 1.25rem;
}

.more {
  background-color: rgba(117, 165, 252, .85);
  border: 1px solid rgba(128, 128, 128, 0.15);
}

.average {
  background-color: rgba(117, 165, 252, .45);
  border: 1px solid rgba(128, 128, 128, 0.15);
}

.less {
  background-color: rgba(117, 165, 252, .25);
  /* border: 1px solid rgba(128, 128, 128, 0.05); */
  border: 1px solid rgba(128, 128, 128, 0.15);
}

.close-container {
  text-align: right;
  margin: 0;
  padding: 0;
}

.cross {
  font: 2rem;
  padding: 5px;
  width: fit-content;
}

#close {
  background-color: #6a9cd858;
  box-shadow: 0.3rem 0.3rem 0.6rem #e4ebf5,
  -0.2rem -0.2rem 0.5rem #c8d0e7;
  border-radius: 5px;
  color: rgba(255, 255, 255, .6);
  margin: 0;
  padding: 3px 6px;
}

#close:hover {
  background-color: #6a9cd89c;
  color: #EEE;
  transition: all 0.3s ease-in-out;
}

/* update button in edit box */
.update-btn,
.delete-btn {
  border: 0px;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  background-color: #ebf5fc;
}

.btn,
a,
a label {
  cursor: pointer;
}


/* ==========  Buttons  =========== */

body {
  background: #ebf5fc;
}

.signout {
  text-align: right;
  margin-top: 0;
  width: 90%;
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  /* width: 240px; */
  width: 100%;
  background: #ebf5fc;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
}

ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 15px;
}

ul li label {
  position: relative;
  cursor: pointer;
}

ul li label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul li label :checked~.icon-box {
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

ul li label :checked~.icon-box .fa {
  transform: scale(0.95);
}

ul li label .icon-box {
  width: 120px;
  height: 60px;
  background: #ebf5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}



.signout-container {
  margin-left: auto;
}

.signout {
  width: 120px;
  height: 60px;
  background: #ebf5fc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #6f6cde;
}

ul li label .btn {
  width: 180px;
}


ul li label .icon-box .fa {
  font-size: 20px;
  color: #6a9bd8;
  font-family: 'Lato', sans-serif;
  ;
}

/* ul li label .icon-box:hover {
  opacity: 0.8;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
} */

.quick-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  /* color: #6a9bd8; */
  font-size: 20px;
}

.btn {
  opacity: 1;
  /* box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1); */
  box-shadow: 0.3rem 0.3rem 0.6rem #e4ebf5,
    -0.2rem -0.2rem 0.5rem #c8d0e7;
  color: #6f6cde;
}


.btn:hover {
  opacity: 0.8;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #7d41ec;
}

.clicked-btn {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
}